<div class="main">
  <h1>Welcome to Crowns Counts!</h1>
  <div class="summary">
    This web application is designed to ease the keeping of score in the game of
    Five Crowns. The button below will take you to a game creation screen where you
    can create a game.
  </div>
  <a href="<%= members_path %>"><button>Begin</button></a>
</div>