<div class="main">
  <h1>Please select a player to use:</h1>
  <% members_array = Member.all.map { |member| [member.name, member.id] } %>
  <%= form_tag({controller: 'members', action: 'signin'}, method: 'get') do %>
    <% if members_array.length > 0 %>
      <%= select_tag(:member, options_for_select(members_array)) %>
      <%= submit_tag('Choose') %>
    <% end %>
  <% end %>
  <span><b>OR</b></span>

  <button onclick="window.location = '<%= new_member_path %>'">Create</button>
</div>
